<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oh My Face</title>
</head>
<body>
  <h1>Welcome to the <strong>Oh My Face</strong> project!</h1>
  <form action="/judge" method="post" enctype="multipart/form-data">
    <label>Original face:</label>
    <input type="file" name="face">
    <br>
    <label>Photo:</label>
    <input type="file" name="photo">
    <br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
